<nav>
  <div class="nav-wrapper grey">
    <a href="{{ site.url }}" class="brand-logo left icone">
    	<img src="{{ '/assets/img/icon.svg' | prepend: site.baseurl }}" height="50" alt="Circulo com a letra B no centro">
    </a>
    <ul id="nav-mobile" class="right">
      <li><a class="waves-effect" href="#!" id="recomecar"><i class="material-icons">refresh</i></a></li>
      <li><a class="waves-effect modal-trigger" href="#info"><i class="material-icons">info_outline</i></a></li>
    </ul>
  </div>
</nav>